@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #12023d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 40px;
}

.TodoBox {
  background: #2b2b57;
  margin-top: 100px;
  padding: 2.5rem;
  border-radius: 10px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: #12023d;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 350px;
  color: #fff;
}

.todo-edit {
  outline: none;
  background: #12023d;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 315px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff6c;
}

.btn-add {
  background: black;
  width: 35px;
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.35rem;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #12023d;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}

.btn-upd {
  background: black;
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.40rem;
  cursor: pointer;
  width: 70px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}